<section class="customers-section">
    <div class="customers-container">
        <h2 class="customers-title">TRUSTED BY</h2>
        <div class="marquee-viewport">
            <div class="customers-logos" id="customersMarquee">
                <img src="/customers/redhat_black.svg" alt="Red Hat" width="120" height="60">    
                <img src="/customers/intel-grey.svg" alt="Intel" width="120" height="60">
                <img src="/customers/ut-austin_black.svg" alt="University of Texas at Austin" width="120" height="60">
                <img src="/customers/aya_pay_black.svg" alt="Aya Pay" width="120" height="60">
                <img src="/customers/citibank_black.svg" alt="Citibank" width="120" height="60">
                <img src="/customers/citrix.svg" alt="Citrix" width="120" height="60">
                <img src="/customers/cncf-black.svg" alt="CNCF" width="120" height="60">
                <img src="/customers/digitalocean-black.svg" alt="DigitalOcean" width="120" height="60">
                <img src="/customers/hashicorp_vertical_black.svg" alt="HashiCorp" width="120" height="60">
                <img src="/customers/hpe_side_black.svg" alt="HPE" width="120" height="60">
                <img src="/customers/metabit-trading-logo-gray.svg" alt="Metabit Trading" width="120" height="60">
                <img src="/customers/nitk_black.svg" alt="NITK" width="120" height="60">
                <img src="/customers/rackspace_black.svg" alt="Rackspace" width="120" height="60">
                <img src="/customers/vmware.svg" alt="VMware" width="120" height="60">
                <img src="/customers/uem_black.svg" alt="UEM" width="120" height="60">
            </div>
        </div>
    </div>
</section>
