<header  class="site-header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="/brand/kanvas/horizontal/kanvas-horizontal-partial-color.svg" alt="Kanvas Logo" class="logo-img" width="160" height="50">
      </a>
    </div>

    <!-- <nav class="main-nav">
      <ul>
        <li><a href="/features">Features</a></li>
        <li><a href="/demo">Demo</a></li>
        <li><a href="/work">How It Works</a></li>
        <li><a href="/capabilities">Capabilities</a></li>
        <li><a href="/docs">Docs</a></li>
      </ul>
    </nav> -->

    <!-- <div class="header-cta">
      <a href="https://github.com/meshery-extensions/kanvas-site" class="btn-secondary" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://kanvas.new" class="btn-primary" target="_blank" rel="noreferrer">Launch Kanvas</a>
    </div> -->
  </div>
</header>